.jumbotron-fluid{
    background: url(/assets/backgrounds/h_img.jpg);
    height: 1071px;
    width: 1920px;
}
.content{
    display: block;
    position: relative;
    top: 33%;
}
.content .the-logo{
    margin-bottom: 100px;
    padding-left: 57rem;
}
#welcome-text{
    color: white;

}
.mouse{
    justify-self: center;
    padding-top: 10rem;
    margin-left: 60rem; 
}
.about{
    margin-top: 50px;
    margin-left: 500px;
}
.services{
    background: url(/assets/backgrounds/s_image.jpg);
    height: 1071px;
    width: 1920px;
    background-repeat: no-repeat;
}
#serv-heading{
    text-align: center;
    top: 30%;
    color: white;
    padding: 50px;
}
#serv-par{
    color: white;
    text-align: center;
}